# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules

# Dist
static/dist

# Libraries
library


# Python
__pycache__
venv
*.pyc

# Database
# Comment it if you want to keep your migrations files commited
src/migrations

# macOs
.DS_Store

# Settings
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
