.img-placeholder {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.placeholder-icon {
    width: 60% !important;
    height: 60%;
    padding: 0px;
    color: #d4dee8;
    margin: auto;
}
.placeholder-block {
    display: flex;
    cursor: pointer;
    position: relative;
}
.delete-cross-button {
    background-color: #504f4f;
    color: #FFF;
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 0px;
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 14px;
}
.delete-cross-button:hover {
    background-color: #FFF;
    color: #504f4f;
}
.image-list {
    display: flex;
    flex-wrap: wrap;
}