body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
body, html, #root {
    height: 100%;
}
.btn:focus, .btn:active {
    box-shadow: none;
    outline: none;
}

/* Form */
.form-control.non-valid {
    border: 1px solid #d62828;
}
.panel-light {
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 32px 2px rgba(206, 207, 210, 0.34);
    -moz-box-shadow: 5px 5px 32px 2px rgba(206, 207, 210, 0.34);
    box-shadow: 5px 5px 32px 2px rgba(206, 207, 210, 0.34);
    color: #1f2a4d;
}
.btn-primary {
    background-color: #2d4592;
    color: #eff1f7;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
}
.btn-primary:hover {
    background-color: #1c43bf;
    color: #fff;
}
.form-control {
    -webkit-box-shadow: 2px 1px 9px -1px rgba(187, 199, 232, 0.34);
    -moz-box-shadow: 2px 1px 9px -1px rgba(187, 199, 232, 0.34);
    box-shadow: 2px 1px 9px -1px rgba(187, 199, 232, 0.34);
}
.form-control:focus {
    border-color: #acc2da;
    box-shadow: 2px 1px 9px -1px rgba(187, 199, 232, 0.34);
}
.form-group label {
    font-size: 15px;
    margin-bottom: 5px;
}

/* Alert box */
/* Info */
.alert-info {
    background-color: #a7d1fb;
    color: #04396d;
    border-left: 6px solid #4a729a;
    border-radius: 3px;
}
.alert-info .icon-block {
    color: #4a729a;
}
/* Error */
.alert-error {
    background-color: #f59982;
    color: #a23013;
    border-left: 6px solid #e07a61;
    border-radius: 3px;
}
.alert-error .icon-block {
    color: #e07a61;
}
/* Success */
.alert-success {
    background-color: #9be2be;
    color: #1a692b;
    border-left: 6px solid #43a258;
    border-radius: 3px;
}
.alert-success .icon-block {
    color: #43a258;
}
/* Warning */
.alert-warning {
    background-color: #f1ef8c;
    color: #8a7514;
    border-left: 6px solid #c7b65e;
    border-radius: 3px;
}
.alert-warning .icon-block {
    color: #c7b65e;
}

/* Errors */
.error-back {
    display: flex;
    width: 100%;
    height: 100%;
}
.error-back h1 {
    margin: auto;
    color: #fff;
    font-size: 60px;
}
.error-back.file-not-found {
    background-image: url(/static/media/404-back.png);
    background-size: cover;
}
.error-back.server-error {
    background-image: url(/static/media/error-back.png);
    background-size: cover;
}